/*
    Hier begint de styling voor de contact pagina.
*/

#contact {
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 80%;
}

#contact section {
    margin: 1%;
    width: 40%;
    font-size: .9em;
}

#contact h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}

#contact section p {
    margin: 1em;
    margin-left: 0;
    padding-left: .3em;
    text-indent: -.3em;
}

#contact .flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#contact section figure {
    margin: auto;
    width: 60%;
}

#contact section figure img {
    max-width: 100%;
    border-radius: .5em;
}

#contact section figure figcaption {
    font-size: 1.2em;
    height: 3em;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: left;
    justify-content: left;
    align-items: left;
}

#contact section figure figcaption p{
    padding: 0;
    margin: 0 0 0 0;
    text-indent: 0;
}

#contact section figure figcaption p a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1200px) {
    #contact {
        flex-direction: column;
        width: 50%;
        align-content: center;
        align-items: center;
    }

    #contact section {
        margin: auto;
        margin-top: 10%;
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    #contact section figure figcaption {
        font-size: 0.8em;
    }
}