/*
    Hier begint de styling voor de contact pagina.
*/

#contact {
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 80%;
}

#contact section {
    margin: 1%;
    width: 40%;
    font-size: .9em;
}

#contact h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}

#contact section p {
    margin: 1em;
    margin-left: 0;
    padding-left: .3em;
    text-indent: -.3em;
}

#contact>.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#contact-form {

}
#contact-form>form>input {
    width: 100%;
    display: block;
    height: 1.5em;
}
#contact-form>form>textarea {
    width: 100%;
    display: block;
    resize: none;

}
#contact-information {
}
#contact-information>ul>li>a {
    color: black;
}

.not-ok {
    border: 1px solid red;
    border-radius: 2px;
}
