/*
    Hier begint de styling voor de portfolio subpagina
*/

#portfolio {
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 80%;
}

#portfolio section {
    width: 20%;
    margin: 3%;
}

#portfolio h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}

#portfolio .flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

#portfolio section p {
    margin: 1em;
    margin-left: 0;
    padding-left: .3em;
    text-indent: -.3em;
}

#portfolio section figure {
    cursor: pointer;
    position: relative;
}

#portfolio section figure img {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 1em;

}

#portfolio section figure figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #E3A655;
    box-shadow: 2px 2px 3px #ccc;
    text-align: center;
    font-size: 2em;
    padding: calc(50% - 1em) .2em;
    border-radius: .5em;
    color: #111;
}

@media only screen and (max-width: 1200px) {

    #portfolio {
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;
    }

    #portfolio section {
        margin: auto;
        margin-top: 10%;
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    #portfolio {
        margin-top: 15%;
    }
    #portfolio .flexcontainer {
        flex-direction: row;
        justify-content: space-around;
    }
    #portfolio .flexcontainer section {
        width: 40%;
        
    }
}