.pfitem .pfitem-heading {

    font-size: 2em;

}
.pfitem .pfitem-heading p {
    font-size: .8em;
    color: gray;
}

.pfitem {

    margin: auto;
    margin-top: 15%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pfitem section {

}

.pfitem-text {
    width: 30%;
    border-right: 1px solid black;
}
.pfitem-text>a {
    color: rgb(0,0,0);
    font-size: 0.9;
    text-decoration: none;
}
.pfitem-text>a:hover{
    color: rgb(60,60,60);
    -webkit-transition: .2s;
    transition: .2s;
}
.pfitem-text>p {
    font-size: 0.9;
    color: rgb(60,60,60);
}

.pfitem-images {
    width: 70%;
}
.pfitem-images>img {
    width: 30%;
    position: relative;
}
.image-1 {
    top: 0;
    left: 5%;
}
.image-2 {
    top: 5%;
    left: 25%;
}
.image-3 {
    top: 25%;
    left: 5%;
}

.pfitem section h1 {
    /*FONT FAMILY*/
}

.pfitem section p {
    margin: 1em;
    margin-left: 0;
    padding-left: .3em;
    text-indent: -.3em;
}
