/*
    Hier is de styling die alle pagina's gebruiken.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Questrial', sans-serif;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
header {
    width: 100%;
    font-size: 1em;
    font-family: 'Questrial', sans-serif;
}

header nav {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.topnav {
    margin-right: 1%;
    display: inline-block;
    list-style: none;
}

.topnav li {
    display: inline-block;
    font-size: 1.2em;
    margin: .6em;
    margin-top: .3em;

}

.topnav li a {
    text-decoration: none;
    color: black;
}

.topnav li a:hover {
    transition: color .5s;
    color: white;
}

footer {
    width: 100%;
    margin: 5% auto auto auto;
    height: 8em;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: #3B6362;
    transition: background-color .2s;
}

.container {
    padding-bottom: 12em; /* Hoogte van de footer moet naar onder geduwd worden.*/
}

.footer-menu-item {
    width: 3.5em;
    height: 3.5em;
    padding: 1em;
    margin: .2em;

    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #555;
}

#contact-mail {
    background-image: url("../img/Logos/Mail.png");
    background-size: 100%;

}
#contact-phone {
    background-image: url("../img/Logos/Phone.png");
    background-size: 100%;

}
#contact-linkedin {
    background-image: url("../img/Logos/LinkedIn.png");
    background-size: 100%;

}
#contact-instagram {
    background-image: url("../img/Logos/Instagram.png");
    background-size: 100%;

}

@media only screen and (max-width: 1000) {
    
    body {
        font-size: 12px;
    }
}
@media only screen and (max-width: 600px) {
    
    body {
        font-size: 10px;
    }
}