/*
    Hier is de styling die alle pagina's gebruiken.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Questrial', sans-serif;
}

header {
    width: 100%;
    font-size: 1em;
    font-family: 'Questrial', sans-serif;
}

header nav {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.topnav {
    margin-right: 1%;
    display: inline-block;
    list-style: none;
}

.topnav li {
    display: inline-block;
    font-size: 1.2em;
    margin: .6em;
    margin-top: .3em;

}

.topnav li a {
    text-decoration: none;
    color: black;
}

.topnav li a:hover {
    transition: color .1s;
    color: white;
}

@media only screen and (max-width: 1400px) {
    body {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 800px) {
    body, header nav {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 600px) {
    header nav {
        font-size: 1em;
        margin-top: -2%;
    }
}

@media only screen and (max-width: 420px) {
    header nav {
        font-size: .8em;
    }
}