/*
    Hier beginnen de SVG styles
*/

#Layer_1 {
    top: 2%;
    z-index: -1;
    width: 120%;
    position: absolute;
    margin-left: -10%;
    margin-top: -14%;
}

#Layer_2 {
    height: 25%;
    width: 25%;
    z-index: 2;
    position: absolute;
    margin-left: -6%;
    margin-top: -1%;
}

.cls-1 {
    fill: none;
}

.cls-2 {
    clip-path: url(#clip-path);
}

.cls-3 {
    fill: #e3a655;
}

.st-1 {
    font-size: 12.89px;
    fill: #1d1d1b;
    font-family: BookmanOldStyle, Bookman Old Style;
}

.st-2 {
    isolation: isolate;
}

.st-3 {
    fill: #c47555;
}

.st-4 {
    fill: none;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

@media only screen and (max-width: 1000px) {
    
    #Layer_1 {
        top: 2%;
    }
}

@media only screen and (max-width: 400px) {
    
    #Layer_2 {
        top: -5%;
    }
}