/* 
    Hier begint de styling voor de "wie ben ik" pagina
*/
#wiebenik {
    margin: auto;
    margin-top: 15%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#wiebenik section {
    width: 40%;
    font-size: .9em;
}

#wiebenik section p {
    margin: 1em;
    margin-left: 0;
    padding-left: .3em;
    text-indent: -.3em;
}

#whoami-card {
    position: relative;
    z-index: -1;
    display: block;
    height: 60%;
    padding-top: 0%;
    top: -10%;

    background-image: url("../img/blob.svg");
    background-repeat: no-repeat;   
    background-position: center;
    background-size: 90%;

    -webkit-mask-image: url("../img/blob.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 90%;

    mask-image: url("../img/blob.svg");
    mask-repeat: no-repeat;   
    mask-position: top center;
    mask-size: 90%;

}
#whoami-card img {
    max-height: 100%;
    object-fit: scale-down;
    width: 100%;
}

#swatchPicker {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    padding: 5%;
    border: 1px solid #aaa;
    border-radius: 1em;
    box-shadow: 1px 1px 1px 1px #444;
}

#swatchPicker .swatch {
    width: 3.5em;
    height: 3.5em;
    padding: 1em;
    margin: .2em;

    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #555;
}

#background {
    z-index: -1;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3B6362;
}

@media only screen and (max-width: 1000px) {
    #wiebenik {
        margin: auto;
        margin-top: 15%;
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    
    #wiebenik section {
        width: 70%;
        font-size: .9em;
    }
    
    #wiebenik section p {
        margin: 1em;
        margin-left: 0;
        padding-left: .3em;
        text-indent: -.3em;
    }
    
    #whoami-card {
        position: relative;
        z-index: -1;
        display: block;
        height: auto;
        width: 100%;
        padding-top: 0%;
        top: -10%;
    
        background: none;
        mask: none;
        -webkit-mask: none;
    

    
    }
    #whoami-card img {
        max-height: 100%;
        object-fit: scale-down;
        width: 100%;

        background-image: url("../img/blob.svg");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;

        -webkit-mask-image: url("../img/blob.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top center;
        -webkit-mask-size: 100%;
    
        mask-image: url("../img/blob.svg");
        mask-repeat: no-repeat;   
        mask-position: top center;
        mask-size: 100%;
    }
    #whoami-text {
        margin-top: -35%;
    }
    
    #swatchPicker {
        background-color: white;
    }
    
    #swatchPicker .swatch {
        width: 4.5em;
        height: 4.5em;
        padding: 1em;
    }
    

}
@media only screen and (max-width: 600px) {
    
    #swatchPicker {
        background-color: white;
    }
    
    #swatchPicker .swatch {
        width: 2.5em;
        height: 2.5em;
        padding: 1em;
    }
}