/*
    Hier begint de styling voor de wiebenik subpagina
*/

#wiebenik {
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 80%;
}

#wiebenik .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#wiebenik .row>img {
    max-width: 45%;
    min-width: 15%;
    box-shadow: 3px 3px 5px #bbb;
    height: fit-content;
}
#wiebenik .row>p {
    max-width: 45%;
    min-width: 15%;
}

#wiebenik section {
    width: 20%;
    margin: 3%;
}

#wiebenik h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}

#wiebenik .flexcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

#wiebenik section p {
    margin-left: 0;
    padding-left: .3em;
    text-indent: -.3em;
}

#wiebenik section figure {
    cursor: pointer;
    position: relative;
}

#wiebenik section figure img {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px #ccc;

}

#wiebenik section figure figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #B6CEF2;
    box-shadow: 2px 2px 3px #ccc;
    text-align: center;
    font-size: 2em;
    padding: calc(50% - 1em) .2em;
    border-radius: 1rem;
    color: #111;
}

@media only screen and (max-width: 1000px) {
    #wiebenik section {
        width: 25%;
    }

    #wiebenik section figure figcaption {
        transition: .5s ease;
        background-color: #B6CEF2;
        box-shadow: 2px 2px 3px #ccc;
        text-align: center;
        font-size: 1em;

    }
}
@media only screen and (max-width: 600px) {
    #wiebenik section {
        width: 40%;
    }

}
@media only screen and (max-width: 400px) {
    #wiebenik section {
        width: 70%;
    }
    #Layer_2 {
        top: -5%;
    }
}